### Move up one directory if needed (adjust as per your file structure)

In [ ]:
%cd ..

### Check current directory

In [ ]:
!pwd

In [3]:
import pandas as pd

### Load the results from CSV files

In [4]:
results_ollama = pd.read_csv('data/results_ollama.csv')
results_openai = pd.read_csv('data/results_openai.csv')
results_gemini = pd.read_csv('data/results_gemini.csv')

### Inspect initial data

In [5]:
results_ollama.head()

,animal,path,size_kb,llama3.2-vision_result,minicpm-v_result,llava-llama3_result,llava_result,llava:13b_result,llama3.2-vision_elapsed_time,minicpm-v_elapsed_time,llava-llama3_elapsed_time,llava_elapsed_time,llava:13b_elapsed_time
0,okapi,./data/animals/animals/okapi/4e8b303dc1.jpg,622.17,okapi,okapi,kangaroo,okapi,okapi,7.816179,3.624612,3.414392,3.512084,4.194598
1,okapi,./data/animals/animals/okapi/4ceab227d9.jpg,298.54,okapi,okapi,dog,okapi,okapi,1.529474,0.822180,0.226149,0.200331,0.225381
2,okapi,./data/animals/animals/okapi/1e06facf31.jpg,23.29,okapi,okapi,zebra,okapi,okapi,1.208102,0.188031,0.154762,0.149428,0.203358
3,okapi,./data/animals/animals/okapi/45f17f3f77.jpg,13.73,okapi,okapi,cow,kangaroo,okapi,1.238858,0.160358,0.164964,0.149253,0.193052
4,okapi,./data/animals/animals/okapi/49f6929ec7.jpg,22.25,okapi,okapi,kangaroo,zebra,okapi,1.217985,0.169052,0.181915,0.142951,0.196954

In [6]:
results_openai.head()

,animal,path,size_kb,gpt-4o-mini_result,gpt-4o_result,gpt-4o-mini_elapsed_time,gpt-4o_elapsed_time
0,okapi,./data/animals/animals/okapi/4e8b303dc1.jpg,622.17,okapi,okapi,3.378736,3.728902
1,okapi,./data/animals/animals/okapi/4ceab227d9.jpg,298.54,okapi,okapi,3.187951,3.190391
2,okapi,./data/animals/animals/okapi/1e06facf31.jpg,23.29,okapi,okapi,1.991297,1.572000
3,okapi,./data/animals/animals/okapi/45f17f3f77.jpg,13.73,okapi,okapi,1.121243,1.105967
4,okapi,./data/animals/animals/okapi/49f6929ec7.jpg,22.25,okapi,okapi,1.740144,1.354622

In [7]:
results_gemini.head()

,animal,path,size_kb,gemini-1.5-pro_result,gemini-1.5-flash-8b_result,gemini-1.5-flash_result,gemini-1.5-pro_elapsed_time,gemini-1.5-flash-8b_elapsed_time,gemini-1.5-flash_elapsed_time
0,okapi,./data/animals/animals/okapi/4e8b303dc1.jpg,622.17,okapi,okapi,okapi,4.085601,3.924736,3.493570
1,okapi,./data/animals/animals/okapi/4ceab227d9.jpg,298.54,okapi,okapi,okapi,3.168847,3.304398,2.960924
2,okapi,./data/animals/animals/okapi/1e06facf31.jpg,23.29,okapi,okapi,okapi,2.261543,2.539338,2.032265
3,okapi,./data/animals/animals/okapi/45f17f3f77.jpg,13.73,okapi,okapi,okapi,3.141081,1.950000,1.884814
4,okapi,./data/animals/animals/okapi/49f6929ec7.jpg,22.25,okapi,okapi,okapi,2.230249,2.298655,2.069128

### Review data structure and see if there are any missing values

In [8]:
results_ollama.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   animal                        250 non-null    object
 1   path                          250 non-null    object
 2   size_kb                       250 non-null    float64
 3   llama3.2-vision_result        250 non-null    object
 4   minicpm-v_result              250 non-null    object
 5   llava-llama3_result           250 non-null    object
 6   llava_result                  250 non-null    object
 7   llava:13b_result              250 non-null    object
 8   llama3.2-vision_elapsed_time  250 non-null    float64
 9   minicpm-v_elapsed_time        250 non-null    float64
 10  llava-llama3_elapsed_time     250 non-null    float64
 11  llava_elapsed_time            250 non-null    float64
 12  llava:13b_elapsed_time        250 non-null    float64
dtypes: float64(6), object(7)
memory usage: 25.5+ KB

In [9]:
results_openai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   animal                    250 non-null    object
 1   path                      250 non-null    object
 2   size_kb                   250 non-null    float64
 3   gpt-4o-mini_result        250 non-null    object
 4   gpt-4o_result             250 non-null    object
 5   gpt-4o-mini_elapsed_time  250 non-null    float64
 6   gpt-4o_elapsed_time       250 non-null    float64
dtypes: float64(3), object(4)
memory usage: 13.8+ KB

In [10]:
results_gemini.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   animal                            250 non-null    object
 1   path                              250 non-null    object
 2   size_kb                           250 non-null    float64
 3   gemini-1.5-pro_result             250 non-null    object
 4   gemini-1.5-flash-8b_result        250 non-null    object
 5   gemini-1.5-flash_result           250 non-null    object
 6   gemini-1.5-pro_elapsed_time       250 non-null    float64
 7   gemini-1.5-flash-8b_elapsed_time  250 non-null    float64
 8   gemini-1.5-flash_elapsed_time     250 non-null    float64
dtypes: float64(4), object(5)
memory usage: 17.7+ KB

### Examine the distribution of results from OpenAI models

In [11]:
for column in results_openai.columns:
    if "_result" in column:
        print(results_openai[column].value_counts())
        print("-------")

gpt-4o-mini_result
pelecaniformes    26
okapi             25
cow               25
dog               25
lion              25
seahorse          25
cat               25
kangaroo          25
elephant          25
penguin           24
Name: count, dtype: int64
-------
gpt-4o_result
okapi             25
cow               25
dog               25
lion              25
pelecaniformes    25
penguin           25
seahorse          25
kangaroo          25
cat               25
elephant          25
Name: count, dtype: int64
-------

### Examine the distribution of results for Gemini

In [12]:
for column in results_gemini.columns:
    if "_result" in column:
        print(results_gemini[column].value_counts())
        print("-------")

gemini-1.5-pro_result
okapi             25
cow               25
dog               25
lion              25
pelecaniformes    25
penguin           25
seahorse          25
kangaroo          25
cat               25
elephant          25
Name: count, dtype: int64
-------
gemini-1.5-flash-8b_result
okapi             25
cow               25
dog               25
lion              25
pelecaniformes    25
penguin           25
seahorse          25
kangaroo          25
cat               25
elephant          25
Name: count, dtype: int64
-------
gemini-1.5-flash_result
okapi             25
cow               25
dog               25
lion              25
pelecaniformes    25
penguin           25
seahorse          25
kangaroo          25
cat               25
elephant          25
Name: count, dtype: int64
-------

### Examine the distribution of results from Ollama models

In [13]:
for column in results_ollama.columns:
    if "_result" in column:
        print(results_ollama[column].value_counts())
        print("-------")

llama3.2-vision_result
pelecaniformes    39
lion              28
cow               25
okapi             25
elephant          25
seahorse          25
kangaroo          24
cat               24
dog               23
penguin           12
Name: count, dtype: int64
-------
minicpm-v_result
okapi                                                                                                                                                                                                                                                                          25
cow                                                                                                                                                                                                                                                                            25
dog                                                                                                                                                                                                                                                                            25
lion                                                                                                                                                                                                                                                                           25
penguin                                                                                                                                                                                                                                                                        25
elephant                                                                                                                                                                                                                                                                       25
cat                                                                                                                                                                                                                                                                            25
kangaroo                                                                                                                                                                                                                                                                       25
seahorse                                                                                                                                                                                                                                                                       25
pelecaniformes                                                                                                                                                                                                                                                                 22
theanimalintheimagecanbeclassifiedaspelecaniformesthesebirdsarepartofagroupthatincludespelicansandstorkswhichisdistinctenoughtowarrantitsownclassificationseparatefromotherbirdspecieslikecatsordogsthereforebasedonprovidedcategoriespelecaniformesbestfitsthisdescription     1
pelicanformes                                                                                                                                                                                                                                                                   1
pelican                                                                                                                                                                                                                                                                         1
Name: count, dtype: int64
-------
llava-llama3_result
kangaroo                                                                                                                                                    38
cow                                                                                                                                                         28
cat                                                                                                                                                         25
elephant                                                                                                                                                    25
lion                                                                                                                                                        25
penguin                                                                                                                                                     24
seahorse                                                                                                                                                    23
dog                                                                                                                                                         23
p                                                                                                                                                           17
pelecaniformes                                                                                                                                              10
okapi                                                                                                                                                        4
b                                                                                                                                                            3
zebra                                                                                                                                                        1
catdogcowelephantlionkangarooseahorseokapipelecaniformesbasedontheimagedescriptionthisisazebrastandinginfrontofatreethecorrectcategoryfortheimageiszebra     1
c                                                                                                                                                            1
seagullpeacockduckpenguincowelephantkangaroolionokapigiraffeleopardmonkeykangarootigerbearcatdogbirdpelecaniformes                                           1
s                                                                                                                                                            1
Name: count, dtype: int64
-------
llava_result
kangaroo           29
penguin            28
elephant           26
lion               25
cow                25
seahorse           24
cat                24
dog                22
okapi              20
pelecaniformes     13
peelecaniformes    12
zebra               1
pepecaniformes      1
Name: count, dtype: int64
-------
llava:13b_result
pelecaniformes       26
kangaroo             25
penguin              25
lion                 25
cow                  25
elephant             25
cat                  25
seahorse             24
dog                  23
okapi                22
zebra                 3
pug                   1
theimageshowsadog     1
Name: count, dtype: int64
-------

**Clean-up and Normalization for Ollama (Local) Models Only**

In the evaluation process, several Ollama-based local models (`minicpm-v`, `llava-llama3`, `llava`, and `llava:13b`) returned outputs that were not standardized. Issues included:

1. **Misspellings and Typos:**  
   For example, “peelecaniformes” instead of “pelecaniformes.”

2. **Verbose or Unspaced Outputs:**  
   Some predictions appeared as long descriptive sentences joined together, making the intended label unclear at first glance.

3. **Single-Letter Labels:**  
   Certain predictions consisted of only the first letter of a label, such as “p” instead of “penguin.”

To ensure a fair evaluation of these Ollama (local) models, we applied a series of normalization steps:

- **Correcting Misspellings:** Obvious misspellings of known labels were replaced with the correct forms.
- **Extracting Correct Labels from Verbose Outputs:** Long descriptive strings were trimmed down to the correct animal label.
- **Mapping Single-Letter Outputs:** If a single-letter output could be clearly matched to the correct label (based on the known ground truth), it was replaced accordingly.

**No Normalization Needed for Gemini and OpenAI Models**

In contrast, the Gemini and OpenAI models did not produce outputs requiring these adjustments. Their results were already formatted consistently, spelled correctly, and aligned with the expected label structure. Therefore, no special cleanup or normalization was necessary before evaluating their performance.

###############################################################################

Normalization Steps

Below, we apply normalization rules to ensure a fair evaluation.
These rules have been defined beforehand:
1. Correct obvious misspellings of known labels or descriptions with name of animals which we will see without spaces.
2. Normalize single-letter predictions if they unambiguously match the known animal label for that row.
3. If a correct label cannot be inferred, treat as misclassification.

###############################################################################

Normalizing `minicpm-v` results

Example: Some rows contain a long string without spaces or slightly misspelled labels like "pelecaniformes."

In [14]:
results_ollama[results_ollama['minicpm-v_result'] == "theanimalintheimagecanbeclassifiedaspelecaniformesthesebirdsarepartofagroupthatincludespelicansandstorkswhichisdistinctenoughtowarrantitsownclassificationseparatefromotherbirdspecieslikecatsordogsthereforebasedonprovidedcategoriespelecaniformesbestfitsthisdescription"]

,animal,path,size_kb,llama3.2-vision_result,minicpm-v_result,llava-llama3_result,llava_result,llava:13b_result,llama3.2-vision_elapsed_time,minicpm-v_elapsed_time,llava-llama3_elapsed_time,llava_elapsed_time,llava:13b_elapsed_time
124,pelecaniformes,./data/animals/animals/pelecaniformes/16c040e8...,13.09,pelecaniformes,theanimalintheimagecanbeclassifiedaspelecanifo...,p,peelecaniformes,pelecaniformes,1.215227,0.581862,0.169696,0.149971,0.22243

Result for this point for `minicpm-v` is `pelecaniformes` as we can see it as a sentence without spaces. Spaces has been removed during initial preprpocessing before final output is returned.

In [15]:
results_ollama.at[124, 'minicpm-v_result'] = 'pelecaniformes'

# Also updating llava_result as we can see there is spelling mistake
results_ollama.at[124, 'llava_result'] = 'pelecaniformes'

In [16]:
results_ollama[results_ollama['minicpm-v_result'] == "pelicanformes"]

,animal,path,size_kb,llama3.2-vision_result,minicpm-v_result,llava-llama3_result,llava_result,llava:13b_result,llama3.2-vision_elapsed_time,minicpm-v_elapsed_time,llava-llama3_elapsed_time,llava_elapsed_time,llava:13b_elapsed_time
105,pelecaniformes,./data/animals/animals/pelecaniformes/050c6a02...,16.22,pelecaniformes,pelicanformes,p,peelecaniformes,pelecaniformes,1.231572,0.197462,0.151026,0.16117,0.213094

In [17]:
results_ollama.at[105, 'minicpm-v_result'] = 'pelecaniformes'
results_ollama.at[105, 'llava_result'] = 'pelecaniformes'

In [18]:
# "pelican" is close, but we determined the correct label is "pelecaniformes" which has been included in the prompt and in the dataset
results_ollama[results_ollama['minicpm-v_result'] == "pelican"]

,animal,path,size_kb,llama3.2-vision_result,minicpm-v_result,llava-llama3_result,llava_result,llava:13b_result,llama3.2-vision_elapsed_time,minicpm-v_elapsed_time,llava-llama3_elapsed_time,llava_elapsed_time,llava:13b_elapsed_time
109,pelecaniformes,./data/animals/animals/pelecaniformes/0c2cd57e...,151.33,pelecaniformes,pelican,p,pelecaniformes,pelecaniformes,1.565492,0.816338,0.147542,0.198891,0.238054

In [19]:
results_ollama.at[109, 'minicpm-v_result'] = 'pelecaniformes'

Re-check distributions after these fixes

In [20]:
for column in results_ollama.columns:
    if "_result" in column:
        print(results_ollama[column].value_counts())
        print("-------")

llama3.2-vision_result
pelecaniformes    39
lion              28
cow               25
okapi             25
elephant          25
seahorse          25
kangaroo          24
cat               24
dog               23
penguin           12
Name: count, dtype: int64
-------
minicpm-v_result
okapi             25
cow               25
dog               25
lion              25
pelecaniformes    25
penguin           25
seahorse          25
kangaroo          25
cat               25
elephant          25
Name: count, dtype: int64
-------
llava-llama3_result
kangaroo                                                                                                                                                    38
cow                                                                                                                                                         28
cat                                                                                                                                                         25
elephant                                                                                                                                                    25
lion                                                                                                                                                        25
penguin                                                                                                                                                     24
seahorse                                                                                                                                                    23
dog                                                                                                                                                         23
p                                                                                                                                                           17
pelecaniformes                                                                                                                                              10
okapi                                                                                                                                                        4
b                                                                                                                                                            3
zebra                                                                                                                                                        1
catdogcowelephantlionkangarooseahorseokapipelecaniformesbasedontheimagedescriptionthisisazebrastandinginfrontofatreethecorrectcategoryfortheimageiszebra     1
c                                                                                                                                                            1
seagullpeacockduckpenguincowelephantkangaroolionokapigiraffeleopardmonkeykangarootigerbearcatdogbirdpelecaniformes                                           1
s                                                                                                                                                            1
Name: count, dtype: int64
-------
llava_result
kangaroo           29
penguin            28
elephant           26
lion               25
cow                25
seahorse           24
cat                24
dog                22
okapi              20
pelecaniformes     15
peelecaniformes    10
zebra               1
pepecaniformes      1
Name: count, dtype: int64
-------
llava:13b_result
pelecaniformes       26
kangaroo             25
penguin              25
lion                 25
cow                  25
elephant             25
cat                  25
seahorse             24
dog                  23
okapi                22
zebra                 3
pug                   1
theimageshowsadog     1
Name: count, dtype: int64
-------

Normalizing `llava-llama3` results

Single-letter outputs that can be unambiguously mapped to known labels:
`p` -> `pelecaniformes` or `penguin` depending on the actual animal in that row.

In [21]:
results_ollama[results_ollama['llava-llama3_result'] == "p"]

,animal,path,size_kb,llama3.2-vision_result,minicpm-v_result,llava-llama3_result,llava_result,llava:13b_result,llama3.2-vision_elapsed_time,minicpm-v_elapsed_time,llava-llama3_elapsed_time,llava_elapsed_time,llava:13b_elapsed_time
101,pelecaniformes,./data/animals/animals/pelecaniformes/4bf98be4...,107.27,pelecaniformes,pelecaniformes,p,peelecaniformes,pelecaniformes,1.290814,0.351589,0.174359,0.174768,0.213450
102,pelecaniformes,./data/animals/animals/pelecaniformes/70b7b849...,160.03,pelecaniformes,pelecaniformes,p,pepecaniformes,pelecaniformes,1.565402,0.357266,0.169801,0.163739,0.218781
103,pelecaniformes,./data/animals/animals/pelecaniformes/8a79ddb1...,7.03,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.215354,0.177787,0.162478,0.163254,0.221606
105,pelecaniformes,./data/animals/animals/pelecaniformes/050c6a02...,16.22,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.231572,0.197462,0.151026,0.161170,0.213094
106,pelecaniformes,./data/animals/animals/pelecaniformes/9f9d0e65...,13.25,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.242362,0.181773,0.163657,0.150328,0.208026
107,pelecaniformes,./data/animals/animals/pelecaniformes/10bab790...,9.86,pelecaniformes,pelecaniformes,p,peelecaniformes,pelecaniformes,1.232980,0.199642,0.160331,0.150320,0.208109
109,pelecaniformes,./data/animals/animals/pelecaniformes/0c2cd57e...,151.33,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.565492,0.816338,0.147542,0.198891,0.238054
112,pelecaniformes,./data/animals/animals/pelecaniformes/7ad0035f...,20.18,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.244163,0.189339,0.154057,0.151935,0.217287
114,pelecaniformes,./data/animals/animals/pelecaniformes/20eaa03e...,29.29,pelecaniformes,pelecaniformes,p,okapi,pelecaniformes,1.231079,0.196052,0.167523,0.143358,0.220671
115,pelecaniformes,./data/animals/animals/pelecaniformes/60a11377...,56.01,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.296069,0.329149,0.161083,0.153389,0.214554
117,pelecaniformes,./data/animals/animals/pelecaniformes/6cd2c2ad...,70.66,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.483541,0.494597,0.143379,0.160143,0.215656
118,pelecaniformes,./data/animals/animals/pelecaniformes/5e0ff30e...,8.24,pelecaniformes,pelecaniformes,p,peelecaniformes,pelecaniformes,1.196937,0.173851,0.160734,0.161568,0.216950
119,pelecaniformes,./data/animals/animals/pelecaniformes/265b6285...,120.68,pelecaniformes,pelecaniformes,p,peelecaniformes,pelecaniformes,1.298166,0.341187,0.175151,0.179328,0.220231
124,pelecaniformes,./data/animals/animals/pelecaniformes/16c040e8...,13.09,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.215227,0.581862,0.169696,0.149971,0.222430
135,penguin,./data/animals/animals/penguin/64ce786719.jpg,580.03,pelecaniformes,penguin,p,penguin,penguin,1.608016,0.846945,0.232050,0.239710,0.285717
140,penguin,./data/animals/animals/penguin/7c99b5a89d.jpg,279.82,pelecaniformes,penguin,p,penguin,penguin,1.565197,0.855003,0.168567,0.177259,0.252037
142,penguin,./data/animals/animals/penguin/0b25c7551c.jpg,18.35,penguin,penguin,p,penguin,penguin,1.174188,0.140431,0.142351,0.143245,0.214068

In [22]:
results_ollama[(results_ollama['llava-llama3_result'] == "p") & (results_ollama['animal'] == "pelecaniformes")]

,animal,path,size_kb,llama3.2-vision_result,minicpm-v_result,llava-llama3_result,llava_result,llava:13b_result,llama3.2-vision_elapsed_time,minicpm-v_elapsed_time,llava-llama3_elapsed_time,llava_elapsed_time,llava:13b_elapsed_time
101,pelecaniformes,./data/animals/animals/pelecaniformes/4bf98be4...,107.27,pelecaniformes,pelecaniformes,p,peelecaniformes,pelecaniformes,1.290814,0.351589,0.174359,0.174768,0.213450
102,pelecaniformes,./data/animals/animals/pelecaniformes/70b7b849...,160.03,pelecaniformes,pelecaniformes,p,pepecaniformes,pelecaniformes,1.565402,0.357266,0.169801,0.163739,0.218781
103,pelecaniformes,./data/animals/animals/pelecaniformes/8a79ddb1...,7.03,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.215354,0.177787,0.162478,0.163254,0.221606
105,pelecaniformes,./data/animals/animals/pelecaniformes/050c6a02...,16.22,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.231572,0.197462,0.151026,0.161170,0.213094
106,pelecaniformes,./data/animals/animals/pelecaniformes/9f9d0e65...,13.25,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.242362,0.181773,0.163657,0.150328,0.208026
107,pelecaniformes,./data/animals/animals/pelecaniformes/10bab790...,9.86,pelecaniformes,pelecaniformes,p,peelecaniformes,pelecaniformes,1.232980,0.199642,0.160331,0.150320,0.208109
109,pelecaniformes,./data/animals/animals/pelecaniformes/0c2cd57e...,151.33,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.565492,0.816338,0.147542,0.198891,0.238054
112,pelecaniformes,./data/animals/animals/pelecaniformes/7ad0035f...,20.18,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.244163,0.189339,0.154057,0.151935,0.217287
114,pelecaniformes,./data/animals/animals/pelecaniformes/20eaa03e...,29.29,pelecaniformes,pelecaniformes,p,okapi,pelecaniformes,1.231079,0.196052,0.167523,0.143358,0.220671
115,pelecaniformes,./data/animals/animals/pelecaniformes/60a11377...,56.01,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.296069,0.329149,0.161083,0.153389,0.214554
117,pelecaniformes,./data/animals/animals/pelecaniformes/6cd2c2ad...,70.66,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.483541,0.494597,0.143379,0.160143,0.215656
118,pelecaniformes,./data/animals/animals/pelecaniformes/5e0ff30e...,8.24,pelecaniformes,pelecaniformes,p,peelecaniformes,pelecaniformes,1.196937,0.173851,0.160734,0.161568,0.216950
119,pelecaniformes,./data/animals/animals/pelecaniformes/265b6285...,120.68,pelecaniformes,pelecaniformes,p,peelecaniformes,pelecaniformes,1.298166,0.341187,0.175151,0.179328,0.220231
124,pelecaniformes,./data/animals/animals/pelecaniformes/16c040e8...,13.09,pelecaniformes,pelecaniformes,p,pelecaniformes,pelecaniformes,1.215227,0.581862,0.169696,0.149971,0.222430

In [23]:
results_ollama[(results_ollama['llava-llama3_result'] == "p") & (results_ollama['animal'] == "penguin")]

,animal,path,size_kb,llama3.2-vision_result,minicpm-v_result,llava-llama3_result,llava_result,llava:13b_result,llama3.2-vision_elapsed_time,minicpm-v_elapsed_time,llava-llama3_elapsed_time,llava_elapsed_time,llava:13b_elapsed_time
135,penguin,./data/animals/animals/penguin/64ce786719.jpg,580.03,pelecaniformes,penguin,p,penguin,penguin,1.608016,0.846945,0.232050,0.239710,0.285717
140,penguin,./data/animals/animals/penguin/7c99b5a89d.jpg,279.82,pelecaniformes,penguin,p,penguin,penguin,1.565197,0.855003,0.168567,0.177259,0.252037
142,penguin,./data/animals/animals/penguin/0b25c7551c.jpg,18.35,penguin,penguin,p,penguin,penguin,1.174188,0.140431,0.142351,0.143245,0.214068

In [24]:
mask = (results_ollama['llava-llama3_result'] == "p") & (results_ollama['animal'] == "pelecaniformes")
results_ollama.loc[mask, 'llava-llama3_result'] = 'pelecaniformes'

mask = (results_ollama['llava-llama3_result'] == "p") & (results_ollama['animal'] == "penguin")
results_ollama.loc[mask, 'llava-llama3_result'] = 'penguin'

In [25]:
results_ollama[results_ollama['llava-llama3_result'] == "p"]

Empty DataFrame
Columns: [animal, path, size_kb, llama3.2-vision_result, minicpm-v_result, llava-llama3_result, llava_result, llava:13b_result, llama3.2-vision_elapsed_time, minicpm-v_elapsed_time, llava-llama3_elapsed_time, llava_elapsed_time, llava:13b_elapsed_time]
Index: []

In [26]:
results_ollama[results_ollama['llava-llama3_result'] == "b"]

,animal,path,size_kb,llama3.2-vision_result,minicpm-v_result,llava-llama3_result,llava_result,llava:13b_result,llama3.2-vision_elapsed_time,minicpm-v_elapsed_time,llava-llama3_elapsed_time,llava_elapsed_time,llava:13b_elapsed_time
8,okapi,./data/animals/animals/okapi/3ef9a780fe.jpg,291.37,okapi,okapi,b,kangaroo,okapi,1.536783,0.459725,0.178640,0.168559,0.210678
56,dog,./data/animals/animals/dog/5c641a8bde.jpg,78.14,dog,dog,b,dog,dog,1.188263,0.298986,0.160110,0.139286,0.199122
154,seahorse,./data/animals/animals/seahorse/1d8cf55abe.jpg,9.36,seahorse,seahorse,b,seahorse,seahorse,1.281278,0.189415,0.162565,0.143931,0.222208

Initials of `llava-llama3` results doesn't match initials of `animal` column for letter `b`. Therefore, not normalizing it.

In [27]:
results_ollama[results_ollama['llava-llama3_result'] == "c"]

,animal,path,size_kb,llama3.2-vision_result,minicpm-v_result,llava-llama3_result,llava_result,llava:13b_result,llama3.2-vision_elapsed_time,minicpm-v_elapsed_time,llava-llama3_elapsed_time,llava_elapsed_time,llava:13b_elapsed_time
5,okapi,./data/animals/animals/okapi/5d53953817.jpg,133.95,okapi,okapi,c,elephant,okapi,1.34371,0.311171,0.176209,0.146129,0.216768

Same for this case too.

In [28]:
results_ollama[results_ollama['llava-llama3_result'] == "s"]

,animal,path,size_kb,llama3.2-vision_result,minicpm-v_result,llava-llama3_result,llava_result,llava:13b_result,llama3.2-vision_elapsed_time,minicpm-v_elapsed_time,llava-llama3_elapsed_time,llava_elapsed_time,llava:13b_elapsed_time
150,seahorse,./data/animals/animals/seahorse/1ef4eeecc7.jpg,18.66,seahorse,seahorse,s,seahorse,seahorse,1.224,0.159796,0.136883,0.13705,0.217081

`s` -> `seahorse` if the actual animal is seahorse

In [29]:
mask = (results_ollama['llava-llama3_result'] == "s") & (results_ollama['animal'] == "seahorse")
results_ollama.loc[mask, 'llava-llama3_result'] = 'seahorse'

Re-check distributions

In [30]:
for column in results_ollama.columns:
    if "_result" in column:
        print(results_ollama[column].value_counts())
        print("-------")

llama3.2-vision_result
pelecaniformes    39
lion              28
cow               25
okapi             25
elephant          25
seahorse          25
kangaroo          24
cat               24
dog               23
penguin           12
Name: count, dtype: int64
-------
minicpm-v_result
okapi             25
cow               25
dog               25
lion              25
pelecaniformes    25
penguin           25
seahorse          25
kangaroo          25
cat               25
elephant          25
Name: count, dtype: int64
-------
llava-llama3_result
kangaroo                                                                                                                                                    38
cow                                                                                                                                                         28
penguin                                                                                                                                                     27
elephant                                                                                                                                                    25
cat                                                                                                                                                         25
lion                                                                                                                                                        25
seahorse                                                                                                                                                    24
pelecaniformes                                                                                                                                              24
dog                                                                                                                                                         23
okapi                                                                                                                                                        4
b                                                                                                                                                            3
c                                                                                                                                                            1
zebra                                                                                                                                                        1
catdogcowelephantlionkangarooseahorseokapipelecaniformesbasedontheimagedescriptionthisisazebrastandinginfrontofatreethecorrectcategoryfortheimageiszebra     1
seagullpeacockduckpenguincowelephantkangaroolionokapigiraffeleopardmonkeykangarootigerbearcatdogbirdpelecaniformes                                           1
Name: count, dtype: int64
-------
llava_result
kangaroo           29
penguin            28
elephant           26
lion               25
cow                25
seahorse           24
cat                24
dog                22
okapi              20
pelecaniformes     15
peelecaniformes    10
zebra               1
pepecaniformes      1
Name: count, dtype: int64
-------
llava:13b_result
pelecaniformes       26
kangaroo             25
penguin              25
lion                 25
cow                  25
elephant             25
cat                  25
seahorse             24
dog                  23
okapi                22
zebra                 3
pug                   1
theimageshowsadog     1
Name: count, dtype: int64
-------

We will consider rest of `llava-llama3` results as is. Zebra is not in the given list in the prompt. Therefore, we will consider it as **misclassification**.

Normalizing `llava` results

Correct known misspellings of `pelecaniformes`

In [31]:
results_ollama[results_ollama['llava_result'] == "peelecaniformes"]

,animal,path,size_kb,llama3.2-vision_result,minicpm-v_result,llava-llama3_result,llava_result,llava:13b_result,llama3.2-vision_elapsed_time,minicpm-v_elapsed_time,llava-llama3_elapsed_time,llava_elapsed_time,llava:13b_elapsed_time
57,dog,./data/animals/animals/dog/4aacd195b5.jpg,590.05,dog,dog,dog,peelecaniformes,dog,1.666355,0.997750,0.324191,0.312314,0.377528
101,pelecaniformes,./data/animals/animals/pelecaniformes/4bf98be4...,107.27,pelecaniformes,pelecaniformes,pelecaniformes,peelecaniformes,pelecaniformes,1.290814,0.351589,0.174359,0.174768,0.213450
104,pelecaniformes,./data/animals/animals/pelecaniformes/5baebd41...,25.21,pelecaniformes,pelecaniformes,seagullpeacockduckpenguincowelephantkangarooli...,peelecaniformes,pelecaniformes,1.266099,0.216401,0.714171,0.151375,0.214648
107,pelecaniformes,./data/animals/animals/pelecaniformes/10bab790...,9.86,pelecaniformes,pelecaniformes,pelecaniformes,peelecaniformes,pelecaniformes,1.232980,0.199642,0.160331,0.150320,0.208109
116,pelecaniformes,./data/animals/animals/pelecaniformes/6a4b5acd...,109.60,pelecaniformes,pelecaniformes,pelecaniformes,peelecaniformes,pelecaniformes,1.525480,0.617739,0.198666,0.182947,0.222556
118,pelecaniformes,./data/animals/animals/pelecaniformes/5e0ff30e...,8.24,pelecaniformes,pelecaniformes,pelecaniformes,peelecaniformes,pelecaniformes,1.196937,0.173851,0.160734,0.161568,0.216950
119,pelecaniformes,./data/animals/animals/pelecaniformes/265b6285...,120.68,pelecaniformes,pelecaniformes,pelecaniformes,peelecaniformes,pelecaniformes,1.298166,0.341187,0.175151,0.179328,0.220231
121,pelecaniformes,./data/animals/animals/pelecaniformes/6da5094e...,8.05,pelecaniformes,pelecaniformes,pelecaniformes,peelecaniformes,pelecaniformes,1.219803,0.197949,0.211291,0.150141,0.225031
122,pelecaniformes,./data/animals/animals/pelecaniformes/6dc3195c...,29.84,pelecaniformes,pelecaniformes,pelecaniformes,peelecaniformes,pelecaniformes,1.224736,0.180490,0.199385,0.160451,0.211533
152,seahorse,./data/animals/animals/seahorse/4d2d55f4b4.jpg,5.71,seahorse,seahorse,seahorse,peelecaniformes,seahorse,1.161801,0.168645,0.187015,0.160867,0.204483

In [32]:
mask = (results_ollama['llava_result'] == "peelecaniformes") & (results_ollama['animal'] == "pelecaniformes")
results_ollama.loc[mask, 'llava_result'] = "pelecaniformes"

In [33]:
results_ollama[results_ollama['llava_result'] == "pepecaniformes"]

,animal,path,size_kb,llama3.2-vision_result,minicpm-v_result,llava-llama3_result,llava_result,llava:13b_result,llama3.2-vision_elapsed_time,minicpm-v_elapsed_time,llava-llama3_elapsed_time,llava_elapsed_time,llava:13b_elapsed_time
102,pelecaniformes,./data/animals/animals/pelecaniformes/70b7b849...,160.03,pelecaniformes,pelecaniformes,pelecaniformes,pepecaniformes,pelecaniformes,1.565402,0.357266,0.169801,0.163739,0.218781

In [34]:
mask = (results_ollama['llava_result'] == "pepecaniformes") & (results_ollama['animal'] == "pelecaniformes")
results_ollama.loc[mask, 'llava_result'] = 'pelecaniformes'

In [35]:
for column in results_ollama.columns:
    if "_result" in column:
        print(results_ollama[column].value_counts())
        print("-------")

llama3.2-vision_result
pelecaniformes    39
lion              28
cow               25
okapi             25
elephant          25
seahorse          25
kangaroo          24
cat               24
dog               23
penguin           12
Name: count, dtype: int64
-------
minicpm-v_result
okapi             25
cow               25
dog               25
lion              25
pelecaniformes    25
penguin           25
seahorse          25
kangaroo          25
cat               25
elephant          25
Name: count, dtype: int64
-------
llava-llama3_result
kangaroo                                                                                                                                                    38
cow                                                                                                                                                         28
penguin                                                                                                                                                     27
elephant                                                                                                                                                    25
cat                                                                                                                                                         25
lion                                                                                                                                                        25
seahorse                                                                                                                                                    24
pelecaniformes                                                                                                                                              24
dog                                                                                                                                                         23
okapi                                                                                                                                                        4
b                                                                                                                                                            3
c                                                                                                                                                            1
zebra                                                                                                                                                        1
catdogcowelephantlionkangarooseahorseokapipelecaniformesbasedontheimagedescriptionthisisazebrastandinginfrontofatreethecorrectcategoryfortheimageiszebra     1
seagullpeacockduckpenguincowelephantkangaroolionokapigiraffeleopardmonkeykangarootigerbearcatdogbirdpelecaniformes                                           1
Name: count, dtype: int64
-------
llava_result
kangaroo           29
penguin            28
elephant           26
cow                25
lion               25
cat                24
seahorse           24
pelecaniformes     24
dog                22
okapi              20
peelecaniformes     2
zebra               1
Name: count, dtype: int64
-------
llava:13b_result
pelecaniformes       26
kangaroo             25
penguin              25
lion                 25
cow                  25
elephant             25
cat                  25
seahorse             24
dog                  23
okapi                22
zebra                 3
pug                   1
theimageshowsadog     1
Name: count, dtype: int64
-------

We can see that we still have 2 `peelecaniformes`. This is because `animal` is not `pelecaniformes`. We will consider this as **misclassification**. Let's proceed with normalizing `llava:13b` results.

Normalizing `llava:13b` results

Only one result value from `llava:13b` - `theimageshowsadog` needs to be treated. Lets see whether it has to be normalized or be considered as misclassification.

In [36]:
results_ollama[results_ollama['llava:13b_result'] == "theimageshowsadog"]

,animal,path,size_kb,llama3.2-vision_result,minicpm-v_result,llava-llama3_result,llava_result,llava:13b_result,llama3.2-vision_elapsed_time,minicpm-v_elapsed_time,llava-llama3_elapsed_time,llava_elapsed_time,llava:13b_elapsed_time
66,dog,./data/animals/animals/dog/7f45bd0030.jpg,129.64,dog,dog,dog,dog,theimageshowsadog,1.4598,0.452486,0.186904,0.140343,0.26837

In [37]:
mask = (results_ollama['llava:13b_result'] == "theimageshowsadog") & (results_ollama['animal'] == "dog")
results_ollama.loc[mask, 'llava:13b_result'] = 'dog'

Final check

In [38]:
for column in results_ollama.columns:
    if "_result" in column:
        print(results_ollama[column].value_counts())
        print("-------")

llama3.2-vision_result
pelecaniformes    39
lion              28
cow               25
okapi             25
elephant          25
seahorse          25
kangaroo          24
cat               24
dog               23
penguin           12
Name: count, dtype: int64
-------
minicpm-v_result
okapi             25
cow               25
dog               25
lion              25
pelecaniformes    25
penguin           25
seahorse          25
kangaroo          25
cat               25
elephant          25
Name: count, dtype: int64
-------
llava-llama3_result
kangaroo                                                                                                                                                    38
cow                                                                                                                                                         28
penguin                                                                                                                                                     27
elephant                                                                                                                                                    25
cat                                                                                                                                                         25
lion                                                                                                                                                        25
seahorse                                                                                                                                                    24
pelecaniformes                                                                                                                                              24
dog                                                                                                                                                         23
okapi                                                                                                                                                        4
b                                                                                                                                                            3
c                                                                                                                                                            1
zebra                                                                                                                                                        1
catdogcowelephantlionkangarooseahorseokapipelecaniformesbasedontheimagedescriptionthisisazebrastandinginfrontofatreethecorrectcategoryfortheimageiszebra     1
seagullpeacockduckpenguincowelephantkangaroolionokapigiraffeleopardmonkeykangarootigerbearcatdogbirdpelecaniformes                                           1
Name: count, dtype: int64
-------
llava_result
kangaroo           29
penguin            28
elephant           26
cow                25
lion               25
cat                24
seahorse           24
pelecaniformes     24
dog                22
okapi              20
peelecaniformes     2
zebra               1
Name: count, dtype: int64
-------
llava:13b_result
pelecaniformes    26
cow               25
lion              25
penguin           25
elephant          25
cat               25
kangaroo          25
dog               24
seahorse          24
okapi             22
zebra              3
pug                1
Name: count, dtype: int64
-------

At this point, we have applied all predefined normalization rules.

Next steps will include calculating accuracy, precision, recall, and F1 scores using the cleaned and normalized results.

In [39]:
results_ollama.to_csv("data/results_ollama_cleaned.csv", index=False)